<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TempExportDir" value="C:\temp\HCSDatabaseControl"/>
    <add key="DBServers" value="HCSDB1|HCSDB2,1041|HCSDBSTAGE1|HCSQADB1|HCSMODELDB1"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuildAtlasWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://buildatlas.geninfo.com/BuildAtlasWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildAtlasWCF"
                contract="BuildAtlasWCF.IBuildAtlasWCF" name="BasicHttpBinding_IBuildAtlasWCF" />
        </client>
    </system.serviceModel>
</configuration>